<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.republicababilonia.homin.to.LocalTO" />
        <mapping class="com.republicababilonia.homin.to.VagaTO" />
        <mapping class="com.republicababilonia.homin.to.UsuarioTO" />
        <mapping class="com.republicababilonia.homin.to.RecomendacaoTO" />
        
    </session-factory>
	    
</hibernate-configuration>